extends ../base
block title
    | match2one
block main
        h1(class='container') Custom Succes Story
        section
         .container(class='LeadingMedia')
            .img
                img(class='humans' src=require("./img/humans.png") alt='')
            .content
                .top
                   img(class='logo' src=require("./img/404_logo.png") alt='')
                   p Leading media agency, Croatia

                p(class='paragraph') “It’s extremely easy to run campaigns, and less time-consuming than other solutions. You can set up and launch a new campaign in a few minutes, that would take hours witth another platform. The reporting and analytics is very transparent, and easy to pass on to clients.”
                .bottom
                    .percent 76%
                        p(class='percentParagraph') Decrease in cost per acquisition
                    .percent 432%
                         p(class='percentParagraph') Decrease in cost per 1000 impressions
                    .percent 39%
                        p(class='percentParagraph') Decrease in cost per click
                    .percent 76%
                        p(class='percentParagraph') Increase in click-throungh rate
                a( href='#' class='buttonRose') Read Full Story

        section(class='backImage')
          .container(class='ShoppingMall')
            .content
                .top
                    h2 A few
                    p Shopping mall agency, Sweden

                p(class='paragraph') "It’s so easy to get started and launch campaigns with Match2One, and the results are way over our expectation.”

                p(class='paragraph') With Match2One we can reach nearly all websites and apps in Sweden, without having to negotiate with salesmen about the price. The big upside is maximum quality reach for the lowest price. The “Quantum Stream” algorithm finds the right audience for us, and automatically optimise towards our campaign goals.
                .bottom
                    .percent 76%
                        p(class='percentParagraph') Decrease in cost per acquisition
                    .percent 432%
                        p(class='percentParagraph') Decrease in cost per 1000 impressions
                    .percent 39%
                        p(class='percentParagraph') Decrease in cost per click
                    .percent 76%
                        p(class='percentParagraph') Increase in click-throungh rate
                a( href='#' class='buttonRose') Read Full Story
            .img
                img(class='humans' src=require("./img/car.png") alt='')

        section
          .container(class='LeadingMedia')
            .img
                img(class='humans' src=require("./img/store.png") alt='')
            .content
                .top
                    img(class='logo' src=require("./img/logosport.png") alt='')
                    p Ecommerce motorcycle retail, UK & global

                p(class='paragraph') “We normally pay $5,000 for what Match2One delivered with $450 - Amazing!” “The savings we get compared to using an external company are massive and the system is easy to use. The system works on a commission % with no signup fees, and the way we saw it is we had nothing to lose. If it worked then great, if it didn’t then we weren’t tied in to any management fee or overpriced campaign that we were going to be invoiced for. We could see all the stats, what it was costing, where it was being placed, etc. Full transparency.”
                .bottom
                    .percent 463%
                        p(class='percentParagraph') Decrease in CPM (cost-per-1000-view)
                    .percent 76%
                        p(class='percentParagraph') Increase in CTR (click-throungh-rate)

                a(href='#' class='buttonRose') Read Full Story



